.weatherCards {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.noCities {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 1.1rem;
    color: rgb(50, 50, 50);
    margin-top: 20vh;
}