.searchBarCity {
  display: flex;
  align-items: center;
  margin-right: 100vw;
}

.input {
    height: 2rem;
    width: 13rem;
    color: white;
    border: 0.1rem solid white;
    outline: none;
    border-radius: 0.2rem;
    background-color: transparent;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .searchButton {
    height: 2rem;
    width: 5rem;
    color: white;
    border: 0.1rem solid white;
    border-radius: 0.2rem;
    outline: none;
    margin-left: 1vw;
    background-color: transparent;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .searchButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }